.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--gray-800);
  color: white;
  min-height: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--spacing-4);
  border-top: 2px solid var(--gray-700);
}
